<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="<%= campground.image%>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> <%= campground.title %> </h5>
              <p class="card-text"><%=campground.description%></p>
              <p class="card-text"><%=campground.location%></p>
              <p class="card-text">Price: $<%=campground.price%>/night</p>
            </div>
            <div class="card-body " >
                <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-warning">Edit</a>
                <a href="/campgrounds" class="card-link btn btn-success">All Campgrounds</a>
            </div>
            <div class="card-body ">
                <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=delete" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
